
.search-input {
    z-index: 1;
    height: 24px;
    width: 200px;
}

.search-icon-wrapper {
    z-index: 0;
    height: 30px;
    display: grid;
    background: rgb(189, 189, 189);
}

.search-icon {
    padding: 0px 4px 0px 4px;
    margin: auto;
}

.search-container {
    display: flex;
}

.search-results-container-outer {
    width: 220px;
    position: absolute;
    right: 0px;
    top: 34px;
    background: rgb(223, 223, 223);
    min-height: 50px;
    box-shadow: 2px 2px 4px 0px #969696;
    -webkit-box-shadow: 2px 2px 4px 0px #969696;
    display: none;
    z-index: 100;
    font-size: 14px;
    padding: 10px;

    .search-results-container-inner {
        width: 100%;

        .keybase-user-result {
            display: flex;
            padding: 6px;
            border-radius: 3px;
            cursor: pointer;
    
            .profile-image {
                width: 25px;
                height: 25px;
                border-radius: 50%;
            }
        
            .profile-name {
                display: inline-block;
                margin: auto 0px auto 10px;
            }
        }
    
        .keybase-user-result:hover {
            background: rgb(192, 192, 192);
        }
    }

    .searching-text {
        text-align: center;
    }
}

.search-results-container-outer.show {
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
}